#container{
    display:flex;
    flex-wrap: wrap;
}
#container >div{
    background-color: blue;
    font-size: 20px;
    margin: 20px;
    padding:20px;
    width: 200px;
}
#abc{
    background-color: green;
    display: grid;
    padding: 20px;
    grid-column-gap:20px;
    grid-row-gap:100px;
    grid-template-columns: 200px 200px auto;
}
.abc-item{
    background-color: white;
    font-size: 20px;
    padding: 20px;

}